<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/contatos">Desafio</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <mat-icon class="icon">contacts</mat-icon>
      <li class="nav-item">
        <a routerLink="/contatos" class="nav-link">Contatos</a>
      </li>
      <mat-icon class="icon">person</mat-icon>
      <li class="nav-item">
        <a routerLink="/cadastro" class="nav-link">Cadastro</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
